<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="../../Logs/LogFileAppender.txt" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="" />
        <param name="Footer" value="" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>

    <root>
      <level value="INFO" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
    
    <appSettings>
    <add key="BrowserType" value="FF"></add>
    <add key="BaseURL" value="https://mail.ru/"></add>
    <add key="UserName" value="Autotests"></add>
    <add key="Password" value="Steel99"></add>
    <add key="PasswordInv" value="Steel98"></add>
    <add key="Domain" value="@inbox.ru"></add>
    <add key="EmailAddress" value="dzmitry_kratok@epam.com"></add>
    <add key="EmailSubject" value="Autotests"></add>
    <add key="EmailText1" value="Hello!"></add>
    <add key="EmailText2" value="Bryan Do gave up his job at the software giant to become an entrepreneur in South Korea, where small businesses must find a way to thrive in the shadow of huge congolmerates."></add>
    <add key="EmailText3" value="Best Regards"></add>
    <add key="UserNameLink" value="autotests@inbox.ru"></add>
    <add key="LoginErrorMessage" value="Неверное имя пользователя или пароль. Проверьте правильность введенных данных."></add>
  </appSettings>

</configuration>